<h1>Editing Staff</h1>

<div class="container-fluid">
	<div class="col-md-6 col-md-offset-4">
		<%= render 'form' %>
	</div>
</div>


<br>
<div class="btn-group">
	<%= link_to 'Show', @staff, class: "btn btn-default" %>
	<%= link_to 'Back', staffs_path, class: "btn btn-default" %>
</div>
